{% load static %}
<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Learn some words!</title>
    <script src="{% static 'LearnSomeWords/app.js' %}"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="icon" href="{% static 'LearnSomeWords/favicon.ico' %}">
</head>

<body>
    <div id="data" style="display: none;"> {{ data }}</div>
    <div class="card text-center  text-bg-light">
        <div class="card-header">Learn some words</div>
        <div class="card-body">
            <p class=" card-text" style="min-height: 60px;font-size: 30px;" id="text">
                content</p>

            <div class="row justify-content-end">
                <div class="button-container">
                    <button class="btn btn-md btn-light" id="pronounce">
                        <img src="{% static 'LearnSomeWords/icon.png' %}" width="25" />
                    </button>
                </div>

            </div>





        </div>
        <div class="card text-center  text-bg-light" style="margin-bottom: 10px;">
            <div class="card-body">
                <p class=" card-text" style="min-height:60px; font-size: 30px;" id="sentence"></p>
            </div>
            <div class=" card-footer" id="position">1/90</div>
        </div>
        <div class="container text-center" style="margin-bottom: 10px;">
            <div class="row align-items-end">
                <div class="col-4">
                    <button type="button" class="btn btn-primary btn-lg" id="previous">Previous</button>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-success btn-lg" id="translate">Translate</button>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-primary btn-lg" id="next">Next</button>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2">
            <form>
                <input id="finish" class="btn btn-success" type="submit" value="Finish" style="width: 100%;">
            </form>
        </div>













        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
</body>

</html>